<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found</title>
	<link rel="stylesheet" href="/bootstrap.min.css">

</head>
<body class="bg-danger bg-opacity-75">
	
	<div class="d-flex justify-content-center">
		<span class="alert alert-warning"><%= message %> <img src="./img/question.svg" style="font-size: 20px;"></img></span>
	</div>
	<div class="d-flex justify-content-center mt-5 pt-5">
		<img src="img/4-square.svg" style="width: 150px;"><img src="img/0-circle.svg" style="width: 150px;"><img src="img/4-square.svg" style="width: 150px;">
	</div>

	<script src="/bootstrap.bundle.js"></script>
</body>
</html>